<div class="main-content">
      <!-- Begin About Me Section -->
      <div class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">About Us</h1>
          </div>
          <div class="columns is-multiline">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <p class="is-larger">
                &emsp;&emsp;<strong
                  >Glam up was founded the year 2019 of August by Kyle Geske, Coding Instructor and ACE Space Mentor at Red River College.</strong
                >
              </p>
              <br />
              <p>
                Glam up lives for the joys of diversity and individuality.We are all unique and beautiful in our own way which makes everyone who they are.
                With a beauty line that is described as diverse and affordable, Glam Up targets not only women who are new to applying makeup, but also those who consider themselves pros.
                Whether male or female what drives is the ability to express one’s beauty, putting on a character, finding the inner ‘you’ and feeling glamorous, but mainly,it is “bringing together a community of beautiful people one face at a time.”
                Our main goal is the ability in the near future to create jobs for Makeup Artist locally and create an atmosphere to be beautified.
                Glam up is just here to add a bit of shimmer and shine into your beautiful lives. Welcome to the Glam world!
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>Give us a ring</strong>
                  </p>
                  <p class="subheading">
                    123-456-7890
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Email</strong>
                  </p>
                  <p class="subheading">
                    hello@example.com
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>View my portfolio</strong>
                  </p>
                  <p class="subheading">
                    example.com
                  </p>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image " data-aos="fade-left">
              <%# <img
                class="is-rounded"
                <%# src="https://picsum.photos/id/366/600/375" %>
                <%# src="https://unsplash.com/photos/VJ4pn_PSBLo" %>
                <%# alt="" %>
              <%= image_tag("about.jpg", alt: "about")%>
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->
