
<p class="title is-3">Categories (<%= @categories.length %>)</p>

<div>
<ol>
<div class="columns is-multiline">
  <% @categories.each do |category| %>
    <li>

      <%= link_to category_products_path(category) do %>


        <div class="card product">
        <div class="card-content">
        <p class="title is-4">
            <span style="text-transform: capitalize;"> <%= category.title %> </span>
            (<%= category.products.count %> products)
        </p>
        </div>
        </div>

      <% end %>
    </li>
  <% end %>
  </div>
</ol>
</div>
